/* The main part with the three boxes. 

.body-container {
    display: flex;
}

.body-container div {
    background: #ffccff;
    border: 20px;
    height: 250px;
    flex: auto;
}

*/

/* This is the quote box. */

.quote {
    background-size: cover;
    background-color: #ffccff;
    font-size: 24px;
    font-style: italic;
}

.quote p{
    padding-left: 200 px;
    padding-right: 200 px;
    padding-top: 600 px;
    padding-bottom: 600 px;
}

.author {
    font-size: 12px;
    font-style: normal;
    text-align: right;
}


/* End of the quote box. */
