/* The main part with the three boxes. 

.body-container {
    display: flex;
}

.body-container div {
    background: #ffccff;
    border: 20px;
    height: 250px;
    flex: auto;
}

*/

/* This is the quote box. */

.quote {
    padding: 70 px;
    background-size: cover;
    background-color: #ffccff;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-style: normal;
    text-align: right;
}


/* End of the quote box. */
